<!DOCTYPE html>
<html>
    <body>

        <h1 style="text-align:center;">Brand Items</h1>
        
        <div style="text-align:center;margin-bottom: 50px;">
            <form method="POST">
                <input name = "brand" style="padding: 12px 20px;margin: 8px 0;box-sizing: border-box;border-radius: 4px;" class="form-control" type="text" placeholder="Enter brand name" aria-label="Brand Name">
                <input name = "industry" style="padding: 12px 20px;margin: 8px 0;box-sizing: border-box;border-radius: 4px;" class="form-control" type="text" placeholder="Enter industry" aria-label="Item">
                <br>
                <input style="  border-radius: 4px;background-color: #4CAF50;border: none;color: white;padding: 16px 32px;text-decoration: none;margin: 4px 2px;cursor: pointer;"type="submit">
            </form>
        </div>

        <h3 style="text-align:center;">{{item1}}</h3>
        <div style = "margin-bottom: 50px;  display: flex;justify-content: center;">
            <img src="{{ item1_image1 }}" alt="item1" style="margin:5px;width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;  border: 5px solid #555;">
        
            <img src="{{ item1_image2 }}" alt="item1" style="margin:5px;width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">

            <img src="{{ item1_image3 }}" alt="item1" style="margin:5px;width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">

            <img src="{{ item1_image4 }}" alt="item1" style="margin:5px;width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">

            <img src="{{ item1_image5 }}" alt="item1" style="margin:5px;width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">
        </div>
        <hr size="1" width="70%" color="gray">  
    
        <h3 style="text-align:center;">{{item2}}</h3>
        <div style = "margin-bottom: 50px;  display: flex;justify-content: center;">
            <img src="{{ item2_image1 }}" alt="item2" style="width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;  border: 5px solid #555;">
        
            <img src="{{ item2_image2 }}" alt="item2" style="width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">

            <img src="{{ item2_image3 }}" alt="item2" style="width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">

            <img src="{{ item2_image4 }}" alt="item2" style="width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">

            <img src="{{ item2_image5 }}" alt="item2" style="width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">
        </div>
        <hr size="1" width="70%" color="gray">  

        <h3 style="text-align:center;">{{item3}}</h3>
        <div style = "margin-bottom: 50px;  display: flex;justify-content: center;">
            <img src="{{ item3_image1 }}" alt="item3" style="width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;  border: 5px solid #555;">
        
            <img src="{{ item3_image2 }}" alt="item3" style="width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">

            <img src="{{ item3_image3 }}" alt="item3" style="width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">

            <img src="{{ item3_image4 }}" alt="item3" style="width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">

            <img src="{{ item3_image5 }}" alt="item3" style="width: 15vw; min-width: 150px;margin-left: auto;margin-right: auto;border: 5px solid #555;">
        </div>
        <hr size="1" width="70%" color="gray">  


    </body>
</html>

